body {
    font: 12px Arial, sans-serif;
    background-color: #eee;
    color: #444;
  }
  #connection {
    font: 14px Arial, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    color: black;
  }
  #connection div {
    background-color: orange;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 5px;
  }
  #connection.connected div {
    background-color: green;
  }
  #connection.disconnected div {
    background-color: red;
  }
  #log {
    overflow: auto;
    width: 300px;
    height: 350px;
    margin-right: 20px;
    float: left;
  }
  #log p {
    margin: 0;
    padding: 0;
  }
  #log .info {
    color: navy;
    font-weight: bold;
  }
  #log .msg {
    margin-left: 11px;
  }
  .border {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
  }
  #right-panel div {
    text-align: left;
  }
  #right-panel {
    height: 350px;
    width: 585px;
    float: left;
    font-size: 14px;
    text-align: center;
  }
  button {
    background: (linear, 0% 40%, 0% 70%, #F9F9F9, #E3E3E3);
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 8px 0 0;
    color: black;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select:none;
    user-select: none;
    cursor: pointer;
  }
  button:not([disabled]):hover {
    border: 1px solid #939393;
  }
  button:not([disabled]):active {
    background: (linear, 0% 40%, 0% 70%, #E3E3E3, #F9F9F9);
  }
  button[disabled] {
    color: #ccc;
  }